h1 {
  color: coral; }

p {
  margin: 0.4em; }

#weather_icon {
  margin: 0;
  padding: 0;
  display: inline;
  height: 250px;
  width: 250px; }

#conditions {
  margin-top: 2em;
  font-size: 2em; }

#astronomy {
  font-size: 2em; }
