// Place all the styles related to the Weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon/bourbon";
@import "neat/neat";

$max-width: em(960);

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #343838;
}

.site_header {
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: center;
	color: #00DFFC;
}

p {
	margin: 0.4em;
	color: #FFF;
}

.container {
	@include outer-container;
}

.weather_box {
	@include span-columns(10);
	@include shift(2);
	text-align: center;
	font-size: 2em;
}

.top_bar {
	@include shift(-3);
	display: block;
	clear: both;
}

.conditions {
	@include span-columns(6);
	@include shift(4);

	img {
		width: 50px;
		height: 100px;
		float: left;
	}
	p {
		padding-top: 0.5em;
		text-align: left;
	}
}

.weather_icon {
	@include span-columns(4);
	@include shift(4);
	padding-left: 30px;
	display: block;
	clear: both;
}

.bottom_bar {
	@include span-columns(10);
	margin-left: 50px;
	display: block;
	clear: both;
}

.astronomy {
	float: left;
}

.wind {
	@include span-columns(6);
	display: inline;
	float: left;
	> p {
		text-align: left;
	}
	img {
		float: left;
		display: inline;
		width: 100px;
		height: 100px;
	}
}
