* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  width: 100%; }

.container {
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.weather_box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%;
  text-align: center; }
  .weather_box:last-child {
    margin-right: 0; }

body {
  background-color: #343838; }

h1 {
  margin-top: 5%;
  text-align: center;
  color: #00DFFC; }

p {
  margin: 0.4em;
  color: #FFF; }

#weather_icon {
  margin: 0;
  padding: 0;
  display: inline;
  height: 250px;
  width: 250px; }

#conditions {
  margin-top: 2em;
  font-size: 2em; }

#astronomy {
  font-size: 2em; }
