* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?gntv0u");
  src: url("fonts/icomoon.eot?#iefixgntv0u") format("embedded-opentype"), url("fonts/icomoon.woff?gntv0u") format("woff"), url("fonts/icomoon.ttf?gntv0u") format("truetype"), url("fonts/icomoon.svg?gntv0u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-color: #343838;
  margin: 0; }

p {
  margin: 0.4em;
  color: #FFF; }

.navbar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 10px 5%;
  margin-bottom: 5%;
  background-color: #656d6d;
  color: #00DFFC; }
  .navbar:last-child {
    margin-right: 0; }
  .navbar .clock {
    font-size: 0.8em;
    float: right; }

.container {
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.weather_box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 17.05961%;
  text-align: center;
  font-size: 2em; }
  .weather_box:last-child {
    margin-right: 0; }

.top_bar {
  margin-left: -25.58941%;
  display: block;
  clear: both; }

.conditions {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 34.11922%; }
  .conditions:last-child {
    margin-right: 0; }
  .conditions img {
    float: left;
    width: 50px;
    height: 100px; }
  .conditions p {
    padding-top: 0.5em;
    text-align: left; }

.weather_icon {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%;
  display: block;
  clear: both;
  padding-left: 30px; }
  .weather_icon:last-child {
    margin-right: 0; }

.bottom_bar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 34.11922%;
  display: block;
  clear: both;
  margin-left: 110px; }
  .bottom_bar:last-child {
    margin-right: 0; }

.astronomy {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-left: -25.58941%;
  float: left; }
  .astronomy:last-child {
    margin-right: 0; }
  .astronomy img {
    display: inline;
    float: left;
    width: 100px;
    height: 100px; }

.wind {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: inline;
  float: left; }
  .wind:last-child {
    margin-right: 0; }
  .wind > p {
    text-align: left; }
  .wind img {
    display: inline;
    float: left;
    width: 100px;
    height: 100px; }
